<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<title><%= @output[0][:title] %></title>
	<meta name="theme-color" content="#000">

	<link rel="canonical"                href="https://cyber.surf/<%= @output[0][:type] %>/<%= @output[0][:id] %>" />
	<link type="text/plain" rel="author" href="https://cyber.surf/humans.txt" />

	<!-- Open Graph -->
	<meta property="og:site_name"        content="cyber.surf" />
	<meta property="og:url"              content="https://cyber.surf/<%= @output[0][:type] %>/<%= @output[0][:id] %>" />
	<meta property="og:title"            content="<%= h @output[0][:title] %>" />
	<meta property="og:type"             content="video.other" />
	<meta property="og:image"            content="<%= @output[0][:thumbnail] %>" />
	<meta property="og:image:width"      content="<%= @output[0][:width] %>" />
	<meta property="og:image:height"     content="<%= @output[0][:height] %>" />
	<meta property="og:description"      content="Surf a sea of cyber images" />
	<meta property="og:video"            content="<%= @output[0][:mp4] %>" />
	<meta property="og:video:secure_url" content="<%= @output[0][:mp4] %>" />
	<meta property="og:video:type"       content="video/mp4" />
	<meta property="og:video:width"      content="<%= @output[0][:width] %>" />
	<meta property="og:video:height"     content="<%= @output[0][:height] %>" />
	<!-- Twitter Card -->
	<meta name="twitter:card"            content="player" />
	<meta name="twitter:site"            content="@cybersurf_" />
	<meta name="twitter:title"           content="<%= h @output[0][:title] %>" />
	<meta name="twitter:description"     content="Surf a sea of cyber images" />
	<meta name="twitter:image"           content="<%= @output[0][:thumbnail] %>" />
	<meta name="twitter:player"          content="https://cyber.surf/<%= @output[0][:type] %>/<%= @output[0][:id] %>?twitter" />
	<meta name="twitter:player:width"    content="<%= @output[0][:width] %>" />
	<meta name="twitter:player:height"   content="<%= @output[0][:height] %>" />
	<meta name="twitter:player:stream"   content="<%= @output[0][:mp4] %>" />
	<meta name="twitter:player:stream:content_type" content="video/mp4">

	<!-- HTML5 Standards -->
	<link rel="manifest" href="/manifest.json">
	<!-- Apple specific bullshit -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="cyber.surf">
	<meta name="format-detection" content="telephone=no">

	<link href="/icons/76.png"  sizes="76x76"   rel="apple-touch-icon-precomposed">
	<link href="/icons/120.png" sizes="120x120" rel="apple-touch-icon-precomposed">
	<link href="/icons/152.png" sizes="152x152" rel="apple-touch-icon-precomposed">
	<link href="/icons/167.png" sizes="167x167" rel="apple-touch-icon-precomposed">
	<link href="/icons/180.png" sizes="180x180" rel="apple-touch-icon-precomposed">


<style type="text/css">
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: black;
	color: white;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: White;
	text-decoration: none;
	outline: none;
}
	a:hover {
		color: #50E3C2;
	}

#video-container {
	position: relative;
	background-size: cover;
	background-position: 50% 50%;
	height: 100vh;
	z-index: 0;
}
	.large video {
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
	}
	.small video {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		max-width: 100%;
		max-height: 100%;
		-moz-user-select: none;
	}
	video:focus {
		border: none;
		outline: none;
	}

#hud {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	min-height: 100px;
	height: 20%;
	transition: all 0.25s ease-in-out;
}
	.large #hud {
		opacity: 0;
	}
	.small #hud {
		opacity: 0.25;
	}
	#hud:hover,
	#hud:active {
		background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
		opacity: 1;
	}
	#hud:hover header,
	#hud:active header {
		background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
	}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	min-height: 100px;
	height: 15%;
	z-index: 5;
	transition: all 0.25s ease-in-out;
}
	header a {
		font-size: 1.5em;
		line-height: 1.25;
	}

	#about {
		position: fixed;
		top: 15px;
		right: 20px;
	}

	#menu {
		width: 170px;
		font-size: 1.5em;
		position: fixed;
		top: 15px;
		left: 10px;
		display: none;
	}
		#down {
			position: absolute;
			top: 0;
			right: 0;
			z-index: -1;
		}
		select {
			background-color: transparent;
			border: none;
			border-radius: 0;
			box-shadow: none;
			color: white;
			display: block;
			font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
			font-size: 100%;
			line-height: normal;
			margin: 0;
			padding: 0 10px;
			width: 100%;
			height: 36px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}
		select::-ms-expand {
			display: none;
		}
		select:hover {
			color: #50E3C2;
		}
		select:focus {
			outline: none;
			box-shadow: 0 0 2px #50E3C2;
			background-color: #50E3C2;
			color: black;
		}
			option {
				background-color: black;
				color: #ccc;
			}
			option:checked {
				color: white;
			}

#controls {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	line-height: 0;
}
	.svg {
		fill: #fff;
	}
	#about:hover .svg,
	#menu:hover .svg,
	#next-link:hover .svg,
	#close:hover .svg {
		fill: #50E3C2;
	}

#title {
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 5;
	font-size: 1.5em;
	line-height: 1.25;
	width: 75%;
	word-wrap: break-word;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
	#hud:hover #title {
		white-space: normal;
	}

#info {
	display: none;
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	width: 400px;
	max-width: 100%;
	padding: 60px 40px;
	overflow-y: scroll;
}
	#close, #share-close {
		position: fixed;
		top: 15px;
		right: 20px;
	}
	#info h1 {
		margin-top: 0;
	}
	#info h1, #info h4 {
		font-weight: 600;
	}
	#info dl {
		padding: 0;
		margin: 1em 0 2em;
		display: flex;
		flex-wrap: wrap;
	}
	#info dt, #info dd {
		line-height: 2;
		list-style-type: none;
		width: 50%;
		margin: 0;
		border-bottom: 1px solid #333;
	}
	#info a {
		color: #50E3C2;
		text-decoration: underline;
	}
		.cyan {
			color: #50E3C2;
		}
		.mono {
			padding: .1em .6em;
			font-size: 0.85em;
			background-color: #333;
			border-radius: 3px;
			display: inline-block;
			margin: 0 .1em;
			line-height: 1.4;
		}

	#info input[type="checkbox"] {
		position: relative;
		background: #333;
		width: 120px;
		height: 36px;
		-webkit-appearance: initial;
		border-radius: 3px;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		outline:none;
		font: normal 12px/16px sans-serif;
		cursor:pointer;
	}
		#info input[type="checkbox"]:after {
			position:absolute;
			top:5%;
			display:block; 
			line-height:32px;
			width:45%;
			height:90%;
			background: #000;
			text-align:center;
			transition: all 0.25s ease-in 0s; 
			color: #fff;
			border: none;
			border-radius:3px;
		}
		#info input[type="checkbox"]:after {
			left:2%;
			content: "OFF";
		}
		#info input[type="checkbox"]:checked:after {
			left:53%;
			content: "ON";
			background: #50E3C2;
		}

#share {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: black;
	z-index: 5;
	padding: 17px 20px;
	display: none;
}
	.box {
		max-width: calc(100% - 36px);
		display: flex;
		flex-direction: row;
	}
	.cell:first-child {
		flex-grow: 1;
	}
	.cell:nth-child(2) {
		padding: 0 5px;
	}
	#share-url {
		font-size: 18px;
		background-color: black;
		border: 1px solid #555;
		border-radius: 3px;
		color: #fff;
		line-height: 30px;
		padding: 0 10px;
		width: 100%;
	}
	#share-button {
		background-color: #50E3C2;
		border: 1px solid #50E3C2;
		line-height: 30px;
		font-size: 18px;
		padding: 0 10px;
		color: black;
		border-radius: 3px;
	}

@media (max-width: 768px) {
	body { font-size: 14px; left: 15px; }
	#title { padding-bottom: 6px; }
	#menu, #about, #close, #share-close { top: 10px; }
	#menu { left: 5px; }
	select { padding: 0 5px; }
	#about, #controls, #close, #share-close { right: 10px; }
	#info { padding: 50px 20px; }
}


</style>
</head>
<body class="small">

<section id="hud">
	<header>
		<div id="menu">
			<svg id="down"height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
			    <path d="M7 10l5 5 5-5z" class="svg" />
			    <path d="M0 0h24v24H0z" fill="none"/>
			</svg>
			<select id="select">
				<option value="#" selected>Random</option>
				<option value="reddit-gifs">r/gifs</option>
				<option value="reddit-aww">r/aww</option>
				<option value="reddit-funny">r/funny</option>
				<option value="reddit-woahdude">r/woahdude</option>
				<option value="imgur">Imgur</option>
			</select>
		</div>

		<a id="about" href="/" title="About cyber.surf">
			<svg height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 0h24v24H0z" fill="none"/>
				<path d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z" class="svg" />
			</svg>
		</a>
	</header>

	<div id="title">
		<a id="source-link" target="_blank" rel="noopener noreferrer" href="<%= @output[0][:permalink] %>">
			<%= @output[0][:title] %>
		</a>
	</div>

	<div id="controls">
		<a id="next-link" href="#" title="Next">
			<svg height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
				<path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" class="svg">/>
				<path d="M0 0h24v24H0z" fill="none"/>
			</svg>
		</a>
	</div>

	<div id="info">
		<a href="#" id="close">
			<svg height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
				<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" class="svg"/>
				<path d="M0 0h24v24H0z" fill="none"/>
			</svg>
		</a>
		<h1><span class="cyan">cyber.surf</span> is the the best way to mindlessly click through the gifs from the front pages of reddit and imgur.</h1>

		<h4>Keyboard Shortcuts</h4>
		<dl>
			<dt>Next video</dt>     <dd><span class="mono">→</span> or <span class="mono">J</span></dd>
			<dt>Previous video</dt> <dd><span class="mono">←</span> or <span class="mono">K</span></dd>
			<dt>Pause</dt>          <dd><span class="mono">space</span></dd>
			<dt>Faster</dt>         <dd><span class="mono">F</span></dd>
			<dt>Slower</dt>         <dd><span class="mono">S</span></dd>
			<dt>Default speed</dt>  <dd><span class="mono">D</span></dd>
			<dt>Zoom</dt>           <dd><span class="mono">Z</span></dd>
			<dt>Menu</dt>           <dd><span class="mono">M</span></dd>
		</dl>

		<dl>
			<dt><label for="autoplay">Autoplay next gif<label></dt>
			<dd><input name="autoplay" id="autoplay" type="checkbox"></dd>
		</dl>

		<p>Created by <a href="https://kash.im/">Abram Kash</a>, with content from, <a href="https://www.reddit.com/dev/api">reddit</a>, <a href="https://api.imgur.com/">imgur</a>, and <a href="https://gfycat.com/api">gfycat</a>.</p>
	</div>
	<div id="share">
		<a href="#" id="share-close">
			<svg height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
				<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" class="svg"/>
				<path d="M0 0h24v24H0z" fill="none"/>
			</svg>
		</a>
		<div class="box">
			<div class="cell"><input id="share-url" type="text" readonly value="https://cyber.surf/<%= @output[0][:type] %>/<%= @output[0][:id] %>"></div>
			<div class="cell"><button id="share-button">Copy</button></div>
		</div>
	</div>
</section>

<div id="video-container">
	<video id="video" preload="auto" autoplay loop webkit-playsinline poster="<%= @output[0][:thumbnail] %>">
		<source id="webm-source" src="<%= @output[0][:webm] %>" type="video/webm"/>
		<source id="mp4-source"  src="<%= @output[0][:mp4] %>"  type="video/mp4"/>
	</video>
</div>

<script>
"use strict"

function qs(selector) {
	return document.querySelector(selector)
}

var body   = qs("body")
var title  = qs("title")
var container = qs("#video-container")
var video  = qs("#video")
var webm   = qs("#webm-source")
var mp4    = qs("#mp4-source")
var source = qs("#source-link")
var next   = qs("#next-link")
var menu   = qs("#menu")
var select = qs("#select")
var about  = qs("#about")
var close  = qs("#close")
var info   = qs("#info")
var share  = qs("#share")
var share_button = qs("#share-button")
var share_url = qs("#share-url")
var share_close = qs("#share-close")
var autoplay_button = qs('#autoplay')

// Thumbnail size toggles
if (localStorage.getItem("video-size") === null) {
	localStorage.setItem("video-size", "small")
}
if (localStorage.getItem("video-size") === "large") {
	maximize()
}
function minimize() {
	body.className = "small"
	localStorage.setItem("video-size", "small")
}
function maximize() {
	body.className = "large"
	localStorage.setItem("video-size", "large")
}

// Autoplay toggles
var autoplay = false
if (localStorage.getItem("autoplay") === null) {
	localStorage.setItem("autoplay", "false")
}
if (localStorage.getItem("autoplay") === "true") {
	autoplay_button.checked = true
	autoplay = true
}

// Content
var videos = <%= @output.to_json %>
var current = videos[0]
var index = 0
var after = "<%= @after %>"
var selected = "<%= @selected %>"
var loops = 0

if (selected !== "") {
	menu.querySelector("option[value='"+ selected +"']").selected = true
}
menu.style.display = "block"


// Request json
function request(method, url) {
	return new Promise(function (resolve, reject) {
		var xhr = new XMLHttpRequest()
		xhr.open(method, url)
		xhr.onload = resolve
		xhr.onerror = reject
		xhr.send()
	})
}

next.addEventListener("click", function(event){
	event.preventDefault()
	get(event)
})

function get(event) {
	index += 1
	if (index === videos.length) {
		request('GET', "/get.json" + after)
			.then(function (event) {
				var response = JSON.parse(event.target.response)
				if (response.status === "ok") {
					// Make some room
					videos  = videos.slice(-Math.round(videos.length * 0.5))
					index   = videos.length
					videos  = videos.concat(response.data)
					current = videos[index]
					
					nextVideo(current)
					
					history.pushState(current, null, "/" + current.type + "/" + current.id)
					
					if (response.hasOwnProperty("after")) {
						after = response.after	
					}
				} else {
					window.location.href = "/"
				}
			}, function (event) {
				// backup plan
				window.location.href = "/"
			})
	} else {
		current = videos[index]
		nextVideo(current)
		history.pushState(current, null, "/" + current.type + "/" + current.id)
	}
}

function nextVideo(current) {
	loops = 0
	video.pause()

	video.setAttribute("poster", current.thumbnail)

	webm.setAttribute("src", current.webm)
	mp4.setAttribute("src", current.mp4)
	
	video.load()
	video.play()

	if (current.title === null) {
		current.title = "Untitled"
	}

	title.innerHTML = current.title
	source.innerHTML = current.title
	source.setAttribute("href", current.permalink)
	share_url.setAttribute("value", "https://cyber.surf/" + current.type + "/" + current.id)

	container.style.backgroundColor = "transparent"

	if (after === "") {
		menu.querySelector("option[value='#']").selected = true
	}
}


window.addEventListener("popstate", function(event){
	if (event.state !== null) {
		var currentState = event.state
		nextVideo(currentState)
	}
})
history.pushState(current, null, "/<%= @output[0][:type] %>/<%= @output[0][:id] %>")

// Keyboard shortcuts
document.addEventListener("keydown", function(event){
	// Next → or J
	if (event.keyCode === 39 || event.which === 39 || event.keyCode === 74 || event.which === 74) {
		get(event)
	}
	// Previous ← or K
	else if (event.keyCode === 37 || event.which === 37 || event.keyCode === 75 || event.which === 75) {
		index -= 1
		window.history.back()
	}
	// Zoom Z
	else if (event.keyCode === 90 || event.which === 90) {
		if (localStorage.getItem("video-size") === "small") {
			maximize()
		}
		else if (localStorage.getItem("video-size") === "large") {
			minimize()
		}
	}
	// Faster F
	else if (event.keyCode === 70 || event.which === 70) {
		video.playbackRate += 0.125
	}
	// Slower S
	else if (event.keyCode === 83 || event.which === 83) {
		video.playbackRate -= 0.125
	}
	// Default D
	else if (event.keyCode === 68 || event.which === 68) {
		video.playbackRate = 1.0
	}
	// Pause
	else if (event.keyCode === 32 || event.which === 32) {
		if (video.paused) {
			video.play()
		} else {
			video.pause()
		}
	}
	// Menu
	else if (event.keyCode === 77 || event.which === 77) {
		if (document.activeElement === select) {
			select.blur()
		} else {
			select.focus()
		}
	}
})

video.addEventListener("timeupdate", function(event){
	if (video.currentTime == 0) {
		loops++
	}
	if (loops > 4 && autoplay) {
		get()	
	}
	container.style.backgroundColor = "black"
})

video.addEventListener("click", function(event){
	if (video.paused) {
		video.play()
	} else {
		video.pause()
	}
})

autoplay_button.addEventListener("click", function(event){
	if (event.target.checked == true) {
		localStorage.setItem("autoplay", "true")
		autoplay = true
	} else {
		localStorage.setItem("autoplay", "false")
		autoplay = false
	}
})

menu.addEventListener("change", function(event){
	window.location.href = "/" + event.target.value
})

share_button.addEventListener("click", function(event){
	share_url.select()
	document.execCommand('copy')
	share_url.blur()
})

about.addEventListener("click", function(event){
	event.preventDefault()
	if ("standalone" in window.navigator || window.matchMedia('(display-mode: standalone)').matches) {
		share.style.display = "block"
	} else {
		info.style.display = "block"
	}
})

close.addEventListener("click", function(event){
	event.preventDefault()
	info.style.display = "none"
})

share_close.addEventListener("click", function(event){
	event.preventDefault()
	share.style.display = "none"
})

</script>
</body>
</html>